* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "TT Lakes";
  background-color: #F8F8F8;
}

.header {
  border-bottom: 1px solid #D9FFF5;
  background-color: #fff;
}
.header__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
.header__list-item {
  margin: 20px 10px;
}
.header__list-item-second {
  padding-right: 20px;
  position: relative;
}
.header__list-item-second::after {
  content: "";
  background: #EAEAEA;
  width: 2px;
  height: 35px;
  left: 125px;
  border-radius: 1px;
  position: absolute;
  margin-top: 3px;
}
.header__list-item-third {
  display: none;
}
.header__list-item-four {
  display: none;
}
.header__list-item-five {
  display: none;
}

.content {
  margin: 24px 0;
}
.content__main-item {
  font-size: 28px;
  position: relative;
  padding-left: 20px;
}
.content__main-item::before {
  content: "";
  position: absolute;
  background: #41F6D7;
  width: 4px;
  height: 40px;
  left: 0;
}
.content__item {
  display: none;
}
.content__image {
  display: none;
}

.site-navigation__list {
  padding-left: 16px;
  margin: 24px 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  color: #7E7E82;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  font-size: 16px;
}
.site-navigation__list::-webkit-scrollbar {
  width: 0;
}
.site-navigation__item {
  padding: 5px;
}
.site-navigation__item.active {
  border: 3px solid #B8FFEC;
  border-radius: 5px;
  background-color: #fff;
}