* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "TT Lakes";
  background-color: #f8f8f8;
}

.header {
  border-bottom: 1px solid #d9fff5;
  background-color: #fff;

  &__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    margin: 20px 10px;
  }

  &__list-item-second {
    padding-right: 20px;
    position: relative;
  }

  &__list-item-second::after {
    content: "";
    background: #eaeaea;
    width: 2px;
    height: 35px;
    left: 125px;
    border-radius: 1px;
    position: absolute;
    margin-top: 3px;
  }

  &__list-item-third {
    display: none;
  }

  &__list-item-four {
    display: none;
  }

  &__list-item-five {
    display: none;
  }
}

.content {
  margin: 24px 0;

  &__main-item {
    font-size: 28px;
    position: relative;
    padding-left: 20px;
  }

  &__main-item::before {
    content: "";
    position: absolute;
    background: #41f6d7;
    width: 4px;
    height: 40px;
    left: 0;
  }

  &__item {
    display: none;
  }
  &__image {
    display: none;
  }
}

.site-navigation {
    padding-left: 16px;
    margin: 24px 0;

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    color: #7e7e82;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    font-size: 16px;
  }

  &__list::-webkit-scrollbar {
    height: 0px;
  }

  &__item {
    padding: 5px;

    &.active {
      border: 3px solid #b8ffec;
      border-radius: 5px;
      background-color: #fff;
    }
  }
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 24px 0 16px 0;
  font-size: 14px;
  padding-left: 16px;

  &__tablet {
    display: none;
  }

  &__button {
    font-size: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 16px 0;
  }

  &__expand {
    margin-right: 8px;
  }
}

.entry {
  margin-left: -16px;
  width: calc(100% + 16px);
}

@media (min-width: 768px) {
  // планшет
  .header {
    &__list-item-third {
      display: flex;
    }

    &__list-item-four {
      display: flex;
    }

    &__list-item-five {
      display: flex;
    }
  }

  .content {
    margin: 24px 0 32px 0;
  }

  .site-navigation {
    margin: 32px 0;
    padding-left: 24px;
  }

  .information {
    margin: 32px 25px 40px 24px;
  }
}

@media (min-width: 1120px) {
  // пк
}
